body{
    background-color:rgb(229, 228, 228);
    
}

/* .table1{
    background-color: brown;

} */
.navigation{
    /* display: grid; */
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(200, 198, 198);
}
.navigation li{
    display: inline;
    margin-left: 190px;
    margin-right: 190px;
}
.navigation a:link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
table{
   border-collapse: collapse;
   width: 35%;
 }
/* .social-media{

} */
.grading-system{
    display: flex;
    flex-direction: row; 
    gap: 1px;
}

.grading-system dd{
    font-weight: bold;
    margin-left: 0px;
    margin-right: 40px;
}

.table1 h2{
    text-align: center;
}
th,td{
    border: 1px solid black;
    text-align: left;
}
ul , li{
    margin: 0;
    padding: 0px,0px,0px,0px;
    list-style-type: none;
}

/* .form-wrapper{
    display: grid;
    place-items: ;
} */