body{
    background-color:rgb(8, 2, 2);
    
}

/* .table1{
    background-color: brown;

} */
table{
   border-collapse: collapse;
   width: 35%;
 }
/* .social-media{

} */

.table1 h2{
    text-align: center;
}
th,td{
    border: 1px solid black;
    text-align: left;
}
ul , li{
    margin: 0;
    padding: 0px,0px,0px,0px;
    list-style-type: none;
}

/* .form-wrapper{
    display: grid;
    place-items: ;
} */